<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01-kaishi.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>509088424.68959099</real>
				<key>lastModification</key>
				<real>509088424.68959099</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>509088424.66905898</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>SUMMARY.md</key>
			<dict>
				<key>lastModification</key>
				<real>509088424.68299198</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>01-kaishi.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
