<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>538213842.58813596</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note01.md</key>
			<dict>
				<key>lastModification</key>
				<real>538213842.58813405</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note02.md</key>
			<dict>
				<key>lastModification</key>
				<real>538213842.58813596</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note180121.md</key>
			<dict>
				<key>lastModification</key>
				<real>538213858.11765695</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>note180121.md</string>
		</array>
		<array>
			<string>note01.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>note02.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
